body {
    color: white;
    font-family: Consolas, monaco, monospace;
    font-size: 18px;
    background: black;
}

input {
    background: black;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

:focus {
    outline: none;
}

div {
    font-family: Consolas, monaco, monospace;
}

#userLoginID {
    order: 1;
}

#submitLine {
    order: 2;
    background: black;
    font-family: Consolas, monaco, monospace;
    font-size: 18px;
    overflow: hidden;
    color: white;
    min-width: 100px;
    white-space: nowrap;
}

#userActions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-end;
    position: absolute;
    width: 100%;
    bottom: 1%;
    left: 0%;
}

#messageField {
    bottom: 1%;
    left: 0%;
}